.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.name-text {
  font-family: 'Operator Mono Bold';
  font-size: calc(100px + 1vmin);
  padding-left: 10px;
}

.role-text {
  font-family: 'Operator Mono Bold Italic';
  font-size: calc(40px + 1vmin);
  color: var(--light-blue-color);
  padding-left: 10px;
}

.role-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blurb {
  padding: 0 1em;
}

.content {
  /* height: 500px; */
  background-color: var(--main-bg-color);
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 3em;
  padding: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .name-text {
    font-size: calc(50px + 1vmin);
  }
  .role-container {
    flex-direction: column;
  }
  .App-logo {
    height: 10vmin;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
}
